<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course LMS</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color:black">
                    <a class="nav-link" href="courselist.html" >Courses List </a><br/>
                    <a class="nav-link" href="studentlist.html" >Student List</a><br/>
                    <a class="nav-link" href="subjectlist.html" >Subject List</a><br/>
                    <a class="nav-link" href="teacherslist.html" >Teacher List</a><br/>
            </nav>
        <center>
        <button v-on:click="seeall" style="background-color:lightblue">List All Students</button>
    </center>
    <br/>
    <center>
            <button onclick="location.href='http://localhost:2000/students.html';" style="background-color:lightblue">Add a new Student</button>
        </center>
        <br/>
        <center>
                <select class="selectpicker show-menu-arrow " v-model="userId" title="Select id">
                        <option v-bind:value="student.id" v-for="student in Students">{{student.id}}</option>
                    </select>
                    <p>Select Student by ID</p>
                    <button v-on:click="listbyid" style="background-color:lightblue">Show Details</button>
        </center>
        <ul>
               <li v-for="student in Students">
                {{student.name}}
            </li>
    </div>


    <script>
        let app = new Vue({
            el: '#app',
            data: {
                Students:[],
               userId:''
            },
            mounted(){
                this.seeall();
            },
            

            methods: {
                seeall: function() {
                axios.get("http://localhost:2000/api/students", { responseType: 'json' })
                    .then(response => { this.Students = response.data})
                   // console.log("----"+this.courses);
                },
                listbyid:function(){
                    //this.userId=parseInt(response.data)
                axios.get("http://localhost:2000/api/students/id:?"+this.userId,{responseType:'json'})
                .then(response=>this.Students=response.data)
            console.log(this.userId);
            console.log(this.Students);
                }
                
            }
        })
    </script>
</body>

</html>